* { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	font-size: 100%; 
}

body {
    background-color: #FFFFFF;
    background-image: url(../images/gras-dauw.jpg);
	background-size:cover;
	width: 100%;
	height: 244px;
	padding-bottom: 20px;
}

#title {
    color: #488C03;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

.my-container {
    background-size: 500px 556px;
    border: thin solid #488C03;
    text-align: center;
}

.my-container2 {
  	background-size: 500px 556px;
    border: thin solid #488C03;
    text-align: center;
}

.my-paragraph {
    text-align: center;
    font-weight: bold;
}

.my-content {
    background-color: #E9E9EC;
    width: 876px;
    height: 717px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.my-font {
	color: #000000;
	font-family: 'Shippori Mincho';
	font-size: 12px;
}

.my-border {
    color: #488C03;
    border: solid #488C03;
}










