body {
    background-color: darkseagreen;
    background-image: -webkit-linear-gradient(270deg,rgba(143,188,143,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(143,188,143,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(143,188,143,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(143,188,143,1.00) 0%,rgba(255,255,255,1.00) 100%);
}

#title {
    color: antiquewhite;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

.my-container {
    border-top-style: dotted;
    border-top-color: #FAEBD7;
    text-align: center;
}
.my-container2 {
    border-bottom-style: dotted;
    border-bottom-color: #FAEBD7;
    text-align: center;
}
.my-paragraph {
    text-align: center;
    font-weight: bold;
}
